body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
.header {
  background-color: white;
  background-image: url(img/background.jpg);
  background-size: cover;

}
.container {
  max-width: 75%;
  margin: 0 auto;
}
.nav {
  font-size: 24px;
  height: 50px;
  padding: 20px;
}
.nav a {
  text-decoration: none;
  color: rgb(0, 214, 0);
}
.block-image {
  background-image: url(img/background1.png);
  
}


.text-center {
  text-align: center;
}
.mx-5 {
  margin: 0 200px;
}
.mx-1 {
  margin: 20px 0;
}
.footer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.text-just {
  text-align: justify;
}
.mail {
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.mail:hover {
  color: gray;
  border: 2px dashed gray;
}
.btn {
  text-decoration: none;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
}
.btn:hover {
    background-color: red;
    color: white;
    border-color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}